.DS_Store
*.swp
.idea
run.sh
.vscode
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
final sp1/__pycache__/nearest_zero.cpython-39.pyc
final sp1/__pycache__/sleight_of_hand.cpython-39.pyc
*.log
